.feed {
  flex: 0.4;
  margin: 0 20px;
}

.feed-container {
  background-color: #fff;
  padding: 15px;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 10px;
  margin-bottom: 10px;
}
.feed-container form {
  display: flex;
  flex-direction: column;
}

.feed-write {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.feed-avatar {
  height: 45px !important;
  width: 45px !important;
}

textarea {
  border: none;
	flex: 1;
	margin-left: 10px;
	outline: none;
	display: block;
	font-size: 15px;
	height: 100px;
	resize: none;
	overflow: visible;
}
::placeholder {
  color: rgb(182, 182, 182);
}

.feed-option {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5px;
  margin-bottom: -10px;
}

.publish {
  border-radius: 60px;
	padding: 10px 20px;
	background-color: #0F64C2;
	border: none;
	color: white;
	font-weight: 600;
	cursor: pointer;
}