.option-item {
  display: flex;
  align-items: center;
  padding: 10px;
}
.option-item:hover {
  border-radius: 5px;
  background-color: rgba(146, 146, 146, 0.308);
  cursor: pointer;
}

.option-item h5 {
  margin-left: 10px;
  color: rgb(110, 110, 110);
}