h4 {
  color: grey;
}

.sidebar {
  position: sticky;
  top: 80px;
  flex: 0.2;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}

.sidebar-top,
.sidebar-bottom {
  background-color: #fff;
  border: 1px solid lightgrey;
  padding-bottom: 10px;
}

.sidebar-top > img {
  height: 70px;
  width: 100%;
  margin-bottom: -40px;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}

.sidebar-avatar {
  margin-bottom: 10px;
  height: 80px !important;
  width: 80px !important;
}

.sidebar-top p {
  color: rgb(92, 92, 92);
  padding: 10px 20px;
}

.sidebar-stats {
  background-color: #fff;
  border: 1px solid lightgrey;
  border-top: none;
  border-radius: 0 0 10px 10px;
  padding: 10px 0;
}

.sidebar-stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.sidebar-statNumber {
  color: #0e65c2;
  font-weight: bold;
}

.sidebar-bottom {
  text-align: left;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.sidebar-recentItem {
  display: flex;
  gap: 10px;
  color: rgb(92, 92, 92);
  font-weight: bold;
  margin: 10px 0 0 20px;
}

.sidebar-recentItem:hover {
  color: black;
  cursor: default;
}
