.widgets {
  flex: 0.2;
}

.widgets-container {
  position: sticky;
  top: 80px;
}

.widgets-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.widgets-header > h2 {
  font-size: 20px;
}

.widgets-article {
  display: flex;
}
.widgets-article h3 {
  font-weight: 500;
}
.widgets-article p {
  color: grey;
  margin-bottom: 10px;
}